<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationInsightsInstrumentationKey" value="35b2b662-de88-4c8a-b54e-14d1021c0ede" />
    <add key="ApplicationInsightsLogLevel" value="DEBUG" />
  </appSettings>
  <connectionStrings>
    <add name="ServiceBusConnectionString" connectionString="Endpoint=sb://trvsb00001gyyve5vab7wk2.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=W0sZAm0waYMnUbDYlRa8YhoBmHIQdziYWvPvFypZDFw="/>
  </connectionStrings>
</configuration>
